<settings version="2">
    <setting id="bitrate.aac" default="true">24kbps</setting>
    <setting id="bitrate.mp3" default="true">32kbps</setting>
    <setting id="bitrate.ogg" default="true">32kbps</setting>
    <setting id="bitrate.ogg-flac" default="true">1024kbps</setting>
    <setting id="bitrate.opus" default="true">24kbps</setting>
    <setting id="compression_format" default="true">MP3</setting>
    <setting id="hide_artist_artwork" default="true">false</setting>
    <setting id="hide_artist_info" default="true">false</setting>
    <setting id="hide_fav_songs">false</setting>
    <setting id="prevent_screensaver">true</setting>
    <setting id="previous_url">7874f3694d10842f9f93bf43553e5419</setting>
</settings>
