<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--General-->
    <category label="30001">
        <setting type="lsep" label="30002" />
        <setting id="compression_format" type="select" label="30004" values="AAC|MP3|Ogg Vorbis|Ogg FLAC - Lossless|Opus" default="AAC" />
        <setting id="bitrate.aac" type="select" label="Bitrate" values="24kbps|64kbps|128kbps" default="24kbps" visible="eq(-1,AAC)" />
        <setting id="bitrate.mp3" type="select" label="Bitrate" values="32kbps|128kbps" default="32kbps" visible="eq(-2,MP3)" />
        <setting id="bitrate.ogg" type="select" label="Bitrate" values="32kbps|160kbps" default="32kbps" visible="eq(-3,Ogg Vorbis)" />
        <setting id="bitrate.ogg-flac" type="select" label="Bitrate" values="1024kbps" default="1024kbps" visible="eq(-4,Ogg FLAC - Lossless)" />
        <setting id="bitrate.opus" type="select" label="Bitrate" values="24kbps|64kbps|96kbps" default="24kbps" visible="eq(-5,Opus)" />
        <setting type="lsep" label="30113" />
        <setting id="hide_artist_info" type="bool" label="30009" value="false" />
        <setting id="hide_artist_artwork" type="bool" label="30003" value="false" />
        <setting type="lsep" label="30006" />
        <setting id="username" type="text" label="30007" value="" />
        <setting id="password" type="text" label="30008" value="" option="hidden" enable="!eq(-1,'')" />
    </category>
</settings>
